@import '@fontsource/montserrat';
@import '@fontsource/cinzel';

::view-transition-old(*),
::view-transition-new(*), 
::view-transition-group(*){
	animation-duration: 0.4s ;

}
	

	h1{
		font-family: 'Cinzel', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	body {
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		max-width: 1600px;
		margin: 0 auto;
		padding: clamp(10px, 5vw, 40px);
		/* background-image: url('https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
	}

