@import '@fontsource/montserrat';
@import '@fontsource/cinzel';

::view-transition-old(*),
::view-transition-new(*) {
	animation-duration: 0.4s ;

}
::view-transition-group(*){
	animation-duration: 0.6s ;
}

	h1{
		font-family: 'Cinzel', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}
	body {
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	}